body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .header {
    height: 72px;
    background: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    flex-wrap: nowrap;
    align-items: center;
  }
  .header-title {
    color: white;
    font-size: 32px;
    font-weight: 500;
    /* margin: 0px; */
    /* padding-top: 20px; */
    /* align-items: center; */
}

.header-links {
    margin: 0px;
    display: flex;
    list-style-type: none;
    /* padding-top: 20px; */
    /* align-items: center; */
  }
  .header-links li {
    padding: 0px 15px;
  }
  .header-links  a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }

  .section1 {
    height: 300px;
    background: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    /* flex-wrap: nowrap; */
    /* align-items: center; */

}
.section1-left {
    width: 550px;
    /* height: 500px; */
    display: flex;
    margin-top: 55px;
    margin-bottom: 75px;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}
.section1-left-header {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
}
.section1-left-content {
  font-size: 18px;
  color: #e5e7eb;
}
.section1-left-button {
  font-size: 20px;
  width: 150px;
  border-radius: 6px;
  border: 0px;
  font-weight: extra-bold;
  color: #e5e7eb;

  
  background: #3882f6;
}
.section1-right {
    width: 400px;
    height: 300px;
    margin: 25px;
    display: flex;

  }
  .image-style {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    padding: 35px;
  }

  .section2 {
    height: 250px;
    background: white;
    padding-bottom: 40px;
  }
  .section2-header {
    display: flex;
    color:#1f2937;
    font-weight: extra-bold;
    font-size: 36px;
    justify-content: center;
    padding: 25px;
  }
  .box-container {
    display: flex;
    justify-content: center;
    gap: 25px;
  }
  .box {
    width: 140px;
    height: 130px;
    border: 2px solid #3882f6;
    /* margin: 10px; */
    /* padding: 10px; */
    text-align: center;
    position: relative;
    border-radius: 6px;
  }
  .box-image-style {
    width: 140px;
    height: 100px;
  }
  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    /* align-items: center; */
    margin-top: 5px;
    margin-bottom: 5px;
    /* padding: 5px; */
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .section3 {
    height: 250px;
    background: lightgray;
    display: flex;
    flex-direction: column;
    padding: 80px 180px;
  }
  .section3-content {
    color:#1f2937;
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    padding-bottom: 25px;
  }
  .section3-citation {
    /* justify-content: flex-end; */
    align-self: flex-end;
    color:#1f2937;
    font-weight: bold;
    font-size: 30px;
  }
  .section4 {
    height: 250px;
    background: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-box {
    width: 1000px;
    height: 130px;
    border: 2px solid #3882f6;
    background: #3882f6;
    /* margin: 10px; */
    /* padding: 10px; */
    text-align: center;
    position: relative;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;
  }
  .footer-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-header {
    font-size: 24px;
    color:#f9faf8;
    font-weight: bold;
  }
  .footer-content {
    color:#f9faf8;
  }
  .footer-button {
    width: 100px;
    height: 40px;
    border: 2px solid white;
    background: #3882f6;
    color:#f9faf8;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
  }
  .footer-button:hover {
    background: #73a5f5;
    cursor:pointer;
  }